.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  padding-top: 2%;
  padding-bottom: 1%;
}
h2 {
  padding-top: 2%;
}
.btn {
  margin-right: 2% !important;
  margin-bottom: 2% !important;
}
.btn-back {
  color: #2e3138;
  background-color: #d5d7dd;
  border-color: #d5d7dd;
}
.btn-back:hover {
  color: #fff;
  background-color: #5c6370;
  border-color: #5c6370;
}
.btn-light {
  color: #2e3138;
  background-color: #d5d7dd;
  border-color: #d5d7dd;
}
.btn-light:hover {
  color: #fff;
  background-color: #5c6370;
  border-color: #5c6370;
}
